<div class="title">
    <h1>Placeholder Title</h1>
</div>
<div class='nav'>
    <h2>
        <a href="#">
            Home
        </a>
    </h2>
    <h3>
        |
    </h3>
    <h2>
        Lessons
    </h2>
    <h3>
        |
    </h3>
    <h2>
        About Us
    </h2>
</div>