{% embed 'standardoutline.twig' %}
    {% block content %}
        <h1>Welcome to placeholderTitle. On this site our purpose is to teach you the fundametals to thining
            like a computer scientist</h1>

        <div class="videoOrganizer">
            <div class="video">
                <img src="img/comingSoonCornHacks2019.png">
                <div class="videoColumn">
                    <h1 class="videoTitle">
                        Introduction to computer thinking
                    </h1>
                    <h2 class="videoDescription">
                        In the first episode in our mini series we begin the ideas of introducing computer
                        thinking;
                    </h2>

                </div>
            </div>
            <div class="video">
                <img src="img/comingSoonCornHacks2019.png">
                <div class="videoColumn">
                    <h1 class="videoTitle">
                        Introduction to computer thinking
                    </h1>
                    <h2 class="videoDescription">
                        In the first episode in our mini series we begin the ideas of introducing computer
                        thinking;
                    </h2>

                </div>
            </div>
            <div class="video">
                <img src="img/comingSoonCornHacks2019.png">
                <div class="videoColumn">
                    <h1 class="videoTitle">
                        Introduction to computer thinking
                    </h1>
                    <h2 class="videoDescription">
                        In the first episode in our mini series we begin the ideas of introducing computer
                        thinking;
                    </h2>

                </div>
            </div>
        </div>
    {% endblock content %}
{% endembed %}