<div class="videoDiv">
    <video controls>
        <source src="https://www.sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="belowVideo">
            <div class="left">
                <h1>
                    titlePlaceHoderVideo</h1>
                <h2>
                    By: PlaceHolderName</h2>
            </div>
            <div class="right">
                <div class="downloads">
                    <div class="mp4Download">
                        <a href="#">
                            <h4>
                                Download MP4</h4>
                        </a>
                    </div>
                    <div class="mp3Download">
                        <a href="#">
                            <h4>
                                Download MP3</h4>
                        </a>
                    </div>
                </div>
                <div class="shareDiv"></div>
            </div>
        </div>
        <div class="TransAndComments">
            <div class="transcript">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed enim non libero bibendum
                                                        ullamcorper id id arcu. Quisque non orci et mauris rhoncus porta ut viverra urna. Vestibulum congue
                                                        libero eget velit pulvinar dignissim. Etiam eu ante ut purus varius rutrum. Aliquam in ornare justo,
                                                        vitae ultricies purus. Nullam vitae dolor iaculis, varius nunc non, lobortis sapien. Cras pretium
                                                        elementum fermentum. Sed id arcu ut neque mollis pellentesque. Nunc ut porttitor arcu. Proin interdum
                                                        enim dui, sed laoreet libero tempor in.
                                        
                                                        Quisque in pretium ante. Nulla et justo ullamcorper, condimentum ante nec, pretium orci. In hac
                                                        habitasse platea dictumst. Cras non tempor orci. Nullam consequat, turpis ac semper auctor, orci est
                                                        tincidunt nunc, ut molestie lectus diam ut lectus. Vestibulum dictum dolor nec ex pulvinar elementum.
                                                        Suspendisse pulvinar, lorem gravida tincidunt dignissim, metus sapien fermentum nisi, dignissim
                                                        malesuada odio ipsum nec dolor. Vestibulum volutpat laoreet interdum. Ut at lacus vel leo posuere
                                                        posuere quis vitae risus. Aliquam eu quam augue. Sed odio nibh, pharetra eu porta et, ultrices id urna.
                                        
                                                        Curabitur vulputate, mauris at laoreet consequat, ipsum neque dictum sem, id commodo elit velit in
                                                        nisi. Nullam tempus velit nisl, id ultricies erat facilisis eu. Cras porta mi non tellus porttitor
                                                        suscipit. Fusce molestie sagittis dictum. Aenean vitae porta nisl, a hendrerit lectus. Aenean ut
                                                        consectetur orci. In sed venenatis sapien, at aliquet mi. Phasellus blandit dapibus eros venenatis
                                                        faucibus. Fusce at accumsan mi, et vulputate felis. Aliquam erat volutpat. Proin placerat faucibus leo,
                                                        non auctor magna sodales ac. Mauris blandit iaculis libero in faucibus. Class aptent taciti sociosqu ad
                                                        litora torquent per conubia nostra, per inceptos himenaeos.
                                        
                                                        Pellentesque quis tortor nulla. Donec eleifend nunc urna, sit amet malesuada turpis maximus ut.
                                                        Pellentesque quis accumsan velit. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                        fames ac turpis egestas. Curabitur pulvinar, nisi at pulvinar eleifend, neque nulla aliquet est,
                                                        porttitor lobortis lacus sapien vel magna. Suspendisse condimentum mi metus, et varius nibh hendrerit
                                                        id. Phasellus justo urna, tristique sed tempus eget, aliquam sit amet metus. Vivamus aliquet vel ante
                                                        at sodales. Pellentesque sed libero est. Duis lorem neque, congue a ligula at, interdum molestie
                                                        mauris. Donec in sagittis augue. Mauris efficitur quis arcu quis efficitur. Phasellus iaculis nulla ut
                                                        tristique porta. In sit amet arcu quam. In porttitor leo ut laoreet gravida.
                                        
                                                        Vestibulum vestibulum tellus sed eros consectetur, ut convallis odio varius. Morbi eu iaculis tortor.
                                                        Sed tempus dolor eget odio malesuada ullamcorper. Mauris imperdiet ornare nibh, vel semper lacus
                                                        gravida vitae. Nulla blandit elit enim, sed hendrerit risus consequat id. Suspendisse egestas enim eu
                                                        magna faucibus, non pretium dolor imperdiet. Sed consequat, sapien ut vulputate cursus, diam quam
                                                        aliquet nisl, ut commodo ante massa et justo. Mauris at sem augue. Proin porttitor porta dolor.
                                                        Praesent fermentum placerat semper. Etiam vitae libero lacinia, consequat augue luctus, bibendum dolor.
                                                        Sed scelerisque, nulla vel hendrerit laoreet, ipsum tortor pellentesque lectus, in aliquet ipsum ex
                                                        vitae ante. Ut id rutrum purus, non pharetra tortor. Suspendisse ipsum nunc, interdum eu est ut,
                                                        euismod fermentum eros.</h3>
                <div class="rightAlign">
                    <h4 class="showMoreTranscript">
                        Show More...
                    </h4>
                </div>
            </div>
        </div>
    </div>
