<div class="card">
    <video controls height='100' width='125'>
        <source src="{{video.videoPath}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h1>
            {{video.videoTitle}}</h1>
        <h2>
            {{video.videoDescription}}</h2>
    </div>
