<div class="listItem">
            <video height='100' width='125' controls>
  <source src="{{video.videoPath}}" type="video/mp4">

Your browser does not support the video tag.
          
</video> 
                <div class="columnListItem">
                  <h1> {{video.videoTitle}}</h1>
                  <h2> {{video.videoDescription}}</h2>
                </div>
            </div>
        