html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: black;
}

.videoOrganizer {
  display: flex;
  flex-direction: column;
}
.videoOrganizer .video:nth-of-type(1) {
  margin-top: 45px;
}

.video {
  display: flex;
  background: #282828;
  padding: 15px;
  margin: 15px;
}

.videoColumn {
  display: flex;
  flex-direction: column;
}

.bodyClass {
  display: flex;
  flex-direction: row;
  background: #323232;
}

.headerClass {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  z-index: -1;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  background: black;
}
.nav h2:nth-of-type(1) {
  color: #0092cc;
}
.nav h2:nth-of-type(2) {
  color: #ff3333;
}
.nav h2:nth-of-type(3) {
  color: #dcd427;
}
.nav h3 {
  color: #323232;
  font-size: 32px;
  margin: 9px;
}
.nav a {
  text-decoration: none;
  color: inherit;
}
.nav a:hover {
  font-weight: bold;
}
.nav a a:hover {
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
}

.title h1 {
  color: #969696;
}

.focusContent {
  color: #969696;
}

.columnListItem {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  width: 100%;
  margin: 15px;
}
.listItem h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.card h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.list .card {
  background: gray;
  height: 450px;
  width: 100%;
  margin: 2%;
}

@media (min-width: 40rem) {
  .list .card {
    width: 46%;
  }
}
@media (min-width: 56rem) {
  .list .card {
    width: 29.3333%;
  }
}
.list .card video {
  width: 270px;
  height: 270px;
  width: 93%;
  padding: 3.5%;
  padding-bottom: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  margin: 0px;
}

.videoOrganizer {
  display: flex;
  flex-direction: column;
}
.videoOrganizer .video:nth-of-type(1) {
  margin-top: 45px;
}

.video {
  display: flex;
  background: #282828;
  padding: 15px;
  margin: 15px;
}

.videoColumn {
  display: flex;
  flex-direction: column;
}

.bodyClass {
  display: flex;
  flex-direction: row;
  background: #323232;
}

.headerClass {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  z-index: -1;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  background: black;
}
.nav h2:nth-of-type(1) {
  color: #0092cc;
}
.nav h2:nth-of-type(2) {
  color: #ff3333;
}
.nav h2:nth-of-type(3) {
  color: #dcd427;
}
.nav h3 {
  color: #323232;
  font-size: 32px;
  margin: 9px;
}
.nav a {
  text-decoration: none;
  color: inherit;
}
.nav a:hover {
  font-weight: bold;
}
.nav a a:hover {
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
}

.title h1 {
  color: #969696;
}

.focusContent {
  color: #969696;
  width: 100%;
}

video {
  z-index: -1;
  width: 45vw;
  height: 30vw;
}

.videoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

focusContent {
  z-index: -1;
  width: 100%;
}

.title {
  z-index: 1;
}

.downloads {
  display: flex;
  justify-content: flex-end;
}
.downloads div {
  color: #F0F0F0;
  margin: 9px;
  padding: 0px;
}
.downloads div h4 {
  border-radius: 8px;
}
.downloads a {
  color: white;
  text-decoration: none;
}
.downloads a:hover {
  font-weight: bold;
}

.mp4Download h4 {
  border: 2px solid #ff3333;
  background: #ff3333;
}

.mp3Download h4 {
  border: 2px solid #0092cc;
  background: #0092cc;
}

.belowVideo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transcript {
  height: 150px;
  border-bottom: 5px solid black;
}
.transcript h3 {
  height: 87%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}
.transcript h4 {
  margin: 0px;
}

.rightAlign {
  display: flex;
  justify-content: flex-end;
}
.rightAlign:hover {
  font-weight: bold;
}

.showMoreTranscript {
  color: #F0F0F0;
}
.showMoreTranscript:hover {
  font-weight: bold;
}

.bodyClass {
  padding: 0px 20px;
  background: #969696;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: black;
}

.videoOrganizer {
  display: flex;
  flex-direction: column;
}
.videoOrganizer .video:nth-of-type(1) {
  margin-top: 45px;
}

.video {
  display: flex;
  background: #282828;
  padding: 15px;
  margin: 15px;
}

.videoColumn {
  display: flex;
  flex-direction: column;
}

.bodyClass {
  display: flex;
  flex-direction: row;
  background: #323232;
}

.headerClass {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  z-index: -1;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  background: black;
}
.nav h2:nth-of-type(1) {
  color: #0092cc;
}
.nav h2:nth-of-type(2) {
  color: #ff3333;
}
.nav h2:nth-of-type(3) {
  color: #dcd427;
}
.nav h3 {
  color: #323232;
  font-size: 32px;
  margin: 9px;
}
.nav a {
  text-decoration: none;
  color: inherit;
}
.nav a:hover {
  font-weight: bold;
}
.nav a a:hover {
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
}

.title h1 {
  color: #969696;
}

.focusContent {
  color: #969696;
}

.lessonOptions {
  display: flex;
  justify-content: flex-end;
}

.listButton:before {
  content: "&#9776;";
}

.gridButton:before {
  content: "&#9638;";
}

/*# sourceMappingURL=stylesCornHacks2019.css.map */
