<div class="title">
<h1>Computecast</h1>
</div>
<div class='nav'>
    <h2>
        <a href="/home">
            Home
        </a>
    </h2>
    <h3>
        |
    </h3>
    <h2>
        <a href="/lessons">
            Lessons
        </a>
    </h2>
    <h3>
        |
    </h3>
    <h2>
        <a href="/about">
            About Us
        </a>
    </h2>
</div>