<div class="videoDiv">
    <video controls>
        <source src="{{video.videoPath}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="belowVideo">
            <div class="left">
                <h1>
                    {{video.videoTitle}}</h1>
                <h2>
                    By: {{video.author}}</h2>
            </div>
            <div class="right">
                <div class="downloads">
                    <div class="mp4Download">
                        <a href="#">
                            <h4>
                                Download MP4</h4>
                        </a>
                    </div>
                    <div class="mp3Download">
                        <a href="#">
                            <h4>
                                Download MP3</h4>
                        </a>
                    </div>
                </div>
                <div class="shareDiv"></div>
            </div>
        </div>
        <div class="TransAndComments">
            <div class="transcript">
                <h3>{{video.videoDescription}}</h3>
                <div class="rightAlign">
                    <h4 class="showMoreTranscript">
                        Show More...
                    </h4>
                </div>
            </div>
        </div>
    </div>
